config/examples/node-red_runtime/node-red_AI_temperature-control-agent/temperature_process_node_red_wired.json
[
  {"id":"flow_temp_wired","type":"tab","label":"Temperature process (with RLAgent)","disabled":false},
  {"id":"http_in_step","type":"http in","z":"flow_temp_wired","name":"POST /step","url":"/step","method":"post","upload":false,"x":160,"y":80,"wires":[["step_driver"]]},
  {"id":"step_driver","type":"function","z":"flow_temp_wired","name":"RLOracle","unitType":"RLOracle","func":"const PARAMS = { target_temp:37, initial_temp:20, hot_water_temp:60, cold_water_temp:10, max_flow_rate:1, max_dump_flow_rate:1, mixed_water_cooling_rate:0.01, dt:0.1, max_steps:600, tank_capacity:1, ambient_temp:20, temp_min:0, temp_max:100 };\nconst clamp = (x,lo,hi) => Math.max(lo, Math.min(hi, x));\nif (msg.payload && msg.payload.reset) {\n  const volRatio = Math.random() * 0.95;\n  flow.set('hot_supply_temp', PARAMS.hot_water_temp);\n  flow.set('cold_supply_temp', PARAMS.cold_water_temp);\n  flow.set('hot_flow', 0); flow.set('cold_flow', 0); flow.set('dump_flow', 0);\n  flow.set('volume', Math.max(0.01, PARAMS.tank_capacity * volRatio));\n  flow.set('current_temp', PARAMS.initial_temp);\n  flow.set('step_count', 0);\n  const obs = [PARAMS.cold_water_temp/100, PARAMS.hot_water_temp/100, PARAMS.initial_temp/100, flow.get('volume')/PARAMS.tank_capacity];\n  msg.payload = { observation: obs, observation_names: [\"thermometer_cold\",\"thermometer_hot\",\"thermometer_tank\",\"water_level\"], action_names: [\"cold_valve\",\"dump_valve\",\"hot_valve\"], reward: 0, done: false };\n  msg.headers = { 'Content-Type': 'application/json' };\n  return [msg, null];\n}\nflow.set('action', msg.payload.action || [0,0,0]);\nflow.set('http_msg', msg);\nflow.set('agent_sent_this_step', false);\nreturn [null, msg];","outputs":2,"noerr":0,"x":400,"y":80,"wires":[["http_response_step"],["random_hot","random_cold"]]},
  {"id":"random_hot","type":"function","z":"flow_temp_wired","name":"Drift hot","func":"msg.payload = -0.2 + Math.random() * 0.4;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":60,"wires":[["hot_source"]]},
  {"id":"random_cold","type":"function","z":"flow_temp_wired","name":"Drift cold","func":"msg.payload = -0.2 + Math.random() * 0.4;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":100,"wires":[["cold_source"]]},
  {"id":"hot_source","type":"function","z":"flow_temp_wired","name":"Hot source","func":"const clamp = (x,lo,hi) => Math.max(lo, Math.min(hi, x));\nlet t = flow.get('hot_supply_temp');\nif (t == null) t = 60;\nlet drift = typeof msg.payload === 'number' ? msg.payload : (Math.random()-0.5)*0.4;\nt = clamp(t + drift, 0, 100);\nflow.set('hot_supply_temp', t);\nmsg.payload = { temp: t }; msg.topic = 'thermometer_hot';\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":60,"wires":[["thermometer_hot"]]},
  {"id":"cold_source","type":"function","z":"flow_temp_wired","name":"Cold source","func":"const clamp = (x,lo,hi) => Math.max(lo, Math.min(hi, x));\nlet t = flow.get('cold_supply_temp');\nif (t == null) t = 10;\nlet drift = typeof msg.payload === 'number' ? msg.payload : (Math.random()-0.5)*0.4;\nt = clamp(t + drift, 0, 100);\nflow.set('cold_supply_temp', t);\nmsg.payload = { temp: t }; msg.topic = 'thermometer_cold';\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":100,"wires":[["thermometer_cold"]]},
  {"id":"thermometer_hot","type":"function","z":"flow_temp_wired","name":"Thermometer hot","func":"msg.topic = 'thermometer_hot';\nmsg.payload = typeof msg.payload === 'object' && msg.payload.temp != null ? msg.payload.temp : msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":60,"wires":[["ai_tank_operator","collector"]]},
  {"id":"thermometer_cold","type":"function","z":"flow_temp_wired","name":"Thermometer cold","func":"msg.topic = 'thermometer_cold';\nmsg.payload = typeof msg.payload === 'object' && msg.payload.temp != null ? msg.payload.temp : msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":100,"wires":[["ai_tank_operator","collector"]]},
  {"id":"ai_tank_operator","type":"function","z":"flow_temp_wired","name":"RL Agent (obs in, action out)","func":"if (flow.get('agent_sent_this_step')) return null;\nflow.set('agent_sent_this_step', true);\nconst cap = 1;\nconst obs = [\n  (flow.get('cold_supply_temp')||10)/100,\n  (flow.get('hot_supply_temp')||60)/100,\n  (flow.get('current_temp')||20)/100,\n  Math.min(1, (flow.get('volume')||0.5)/cap)\n];\nconst action = flow.get('action') || [0,0,0];\nreturn { payload: action };","outputs":1,"noerr":0,"x":1240,"y":80,"wires":[["hot_valve","cold_valve","dump_valve"]]},
  {"id":"hot_valve","type":"function","z":"flow_temp_wired","name":"Hot valve","func":"const clamp = (x,lo,hi) => Math.max(lo, Math.min(hi, x));\nconst action = Array.isArray(msg.payload) ? msg.payload : (flow.get('action') || [0,0,0]);\nlet f = flow.get('hot_flow'); if (f == null) f = 0;\nf = clamp(f + (action[2] || 0) * 0.6, 0, 1);\nflow.set('hot_flow', f);\nconst temp = flow.get('hot_supply_temp') || 60;\nmsg.payload = { flow: f, temp, source: 'hot' };\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":60,"wires":[["mixer_tank"]]},
  {"id":"cold_valve","type":"function","z":"flow_temp_wired","name":"Cold valve","func":"const clamp = (x,lo,hi) => Math.max(lo, Math.min(hi, x));\nconst action = Array.isArray(msg.payload) ? msg.payload : (flow.get('action') || [0,0,0]);\nlet f = flow.get('cold_flow'); if (f == null) f = 0;\nf = clamp(f + (action[0] || 0) * 0.6, 0, 1);\nflow.set('cold_flow', f);\nconst temp = flow.get('cold_supply_temp') || 10;\nmsg.payload = { flow: f, temp, source: 'cold' };\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":100,"wires":[["mixer_tank"]]},
  {"id":"dump_valve","type":"function","z":"flow_temp_wired","name":"Dump valve","func":"const clamp = (x,lo,hi) => Math.max(lo, Math.min(hi, x));\nconst action = Array.isArray(msg.payload) ? msg.payload : (flow.get('action') || [0,0,0]);\nlet f = flow.get('dump_flow'); if (f == null) f = 0;\nf = clamp(f + (action[1] || 0) * 0.6, 0, 1);\nflow.set('dump_flow', f);\nmsg.payload = { flow: f, source: 'dump' };\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":140,"wires":[["mixer_tank"]]},
  {"id":"mixer_tank","type":"function","z":"flow_temp_wired","name":"Mixer tank","func":"const clamp = (x,lo,hi) => Math.max(lo, Math.min(hi, x));\nconst p = msg.payload;\nlet inputs = flow.get('tank_inputs') || {};\ninputs[p.source] = p;\nif (Object.keys(inputs).length < 3) { flow.set('tank_inputs', inputs); return null; }\nflow.set('tank_inputs', {});\nconst hot = inputs.hot || {}; const cold = inputs.cold || {}; const dump = inputs.dump || {};\nconst dt = 0.1, cooling = 0.01, ambient = 20, cap = 1, tMin = 0, tMax = 100;\nlet vol = flow.get('volume'); let curTemp = flow.get('current_temp');\nif (vol == null) vol = 0.5; if (curTemp == null) curTemp = 20;\nconst hotF = (hot.flow || 0) * (1 + (Math.random()-0.5)*0.04);\nconst coldF = (cold.flow || 0) * (1 + (Math.random()-0.5)*0.04);\nconst dumpF = (dump.flow || 0) * (1 + (Math.random()-0.5)*0.04);\nconst totIn = hotF + coldF;\nconst mixT = totIn > 0.001 ? (hotF*(hot.temp||60)+coldF*(cold.temp||10))/totIn : curTemp;\nconst prevVol = Math.max(vol, 1e-6);\nvol = clamp(prevVol - dumpF*dt + totIn*dt, 0.01, cap);\ncurTemp = (curTemp*Math.max(prevVol-dumpF*dt,0) + mixT*totIn*dt) / vol;\ncurTemp = clamp(curTemp - cooling*(curTemp - ambient), tMin, tMax);\nflow.set('volume', vol); flow.set('current_temp', curTemp);\nconst step = (flow.get('step_count') || 0) + 1; flow.set('step_count', step);\nconst target = 37, tempErr = Math.abs(curTemp - target), volRatio = vol/cap;\nlet reward = -tempErr;\nif (volRatio < 0.8) reward -= 0.5*(0.8-volRatio);\nif (tempErr < 0.5) reward += 10; else if (tempErr < 1) reward += 5;\nif (volRatio >= 0.8 && volRatio <= 0.85) reward += 10; else if (volRatio >= 0.75) reward += 5; else if (volRatio >= 0.7) reward += 2;\nif (volRatio > 0.85) reward -= 2*(volRatio-0.85);\nif (tempErr < 0.1 && volRatio >= 0.8 && volRatio <= 0.85) reward += 20;\nreward -= 0.01*(flow.get('hot_flow')+flow.get('cold_flow')) + 0.1*flow.get('dump_flow');\nif (flow.get('dump_flow') < 0.05) reward += 0.3;\nconst done = (tempErr < 0.1 && volRatio >= 0.8 && volRatio <= 0.85) || step >= 600;\nflow.set('reward', reward); flow.set('done', done);\nconst out = { temp: curTemp, volume: vol, volRatio };\nreturn [{ payload: out, topic: 'thermometer_tank' }, { payload: out, topic: 'water_level' }];","outputs":2,"noerr":0,"x":1440,"y":80,"wires":[["thermometer_tank"],["water_level"]]},
  {"id":"thermometer_tank","type":"function","z":"flow_temp_wired","name":"Thermometer tank","func":"msg.topic = 'thermometer_tank';\nmsg.payload = (msg.payload && msg.payload.temp != null) ? msg.payload.temp : msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1660,"y":60,"wires":[["ai_tank_operator","collector"]]},
  {"id":"water_level","type":"function","z":"flow_temp_wired","name":"Water level","func":"msg.topic = 'water_level';\nmsg.payload = (msg.payload && msg.payload.volRatio != null) ? msg.payload.volRatio : ((msg.payload && msg.payload.volume) ? msg.payload.volume : msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1660,"y":100,"wires":[["ai_tank_operator","collector"]]},
  {"id":"collector","type":"function","z":"flow_temp_wired","name":"Collector","func":"let obs = flow.get('obs') || {};\nobs[msg.topic] = typeof msg.payload === 'number' ? msg.payload : (msg.payload && msg.payload.temp != null ? msg.payload.temp : (msg.payload && msg.payload.volRatio != null ? msg.payload.volRatio : 0));\nflow.set('obs', obs);\nif (!('thermometer_cold' in obs) || !('thermometer_hot' in obs) || !('thermometer_tank' in obs) || !('water_level' in obs)) return null;\nflow.set('obs', {});\nconst clamp = (x,lo,hi) => Math.max(lo, Math.min(hi, x));\nconst tMax = 100;\nconst observation = [\n  clamp(obs.thermometer_cold/tMax,0,1),\n  clamp(obs.thermometer_hot/tMax,0,1),\n  clamp(obs.thermometer_tank/tMax,0,1),\n  clamp(typeof obs.water_level === 'number' ? obs.water_level : 0.5, 0, 1)\n];\nconst reward = flow.get('reward') || 0;\nconst done = flow.get('done') || false;\nconst httpMsg = flow.get('http_msg') || {};\nhttpMsg.payload = { observation, reward, done };\nhttpMsg.headers = { 'Content-Type': 'application/json' };\nreturn httpMsg;","outputs":1,"noerr":0,"x":1860,"y":80,"wires":[["http_response_step"]]},
  {"id":"http_response_step","type":"http response","z":"flow_temp_wired","name":"","statusCode":"","headers":{},"x":2080,"y":80,"wires":[]}
]
