config/examples/node-red_runtime/node-red_AI_data-smart-filter/smart_filter_node_red_deployed.json
[
  {"id":"flow_filter_wired","type":"tab","label":"Data smart filter (RL Agent wired)","disabled":false},
  {"id":"http_in_filter","type":"http in","z":"flow_filter_wired","name":"POST /filter","url":"/filter","method":"post","upload":false,"x":140,"y":80,"wires":[["parse_response"]]},
  {"id":"parse_response","type":"function","z":"flow_filter_wired","name":"Parse response.json","func":"// Expect body: { meta: {...}, data: [ ... offers ... ] }\nconst body = msg.payload || {};\nconst data = Array.isArray(body.data) ? body.data : [];\nconst meta = body.meta || {};\nflow.set('filter_meta', meta);\nflow.set('filter_data', data);\nflow.set('filter_http_msg', msg);\nmsg.payload = { meta, data, count: data.length };\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["rl_agent_filter"]]},
  {"id":"rl_agent_filter","type":"function","z":"flow_filter_wired","name":"RLAgent","func":"// Placeholder: replace with real RL policy after training (load model, obs = offer features, action = include 0/1).\n// Goal: from ~200_000 offers select the best 200.\n// Observation: offer features (e.g. price norm, duration, stops, airline); action: keep/discard or score.\nconst TOP_K = 200;\nconst input = msg.payload || {};\nconst data = input.data || [];\nconst meta = input.meta || {};\nlet selected = data;\nif (data.length > TOP_K) {\n  // Scaffold: take first TOP_K; in production the trained agent would score/select best TOP_K.\n  selected = data.slice(0, TOP_K);\n}\nflow.set('filter_selected', selected);\nmsg.payload = { meta, data: selected, totalInput: data.length, totalOutput: selected.length };\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":80,"wires":[["build_filtered_response"]]},
  {"id":"build_filtered_response","type":"function","z":"flow_filter_wired","name":"Build response_filtered.json","func":"const input = msg.payload || {};\nconst meta = { ...(input.meta || {}), count: (input.data || []).length };\nconst data = input.data || [];\nconst httpMsg = flow.get('filter_http_msg') || msg;\nhttpMsg.payload = { meta, data };\nhttpMsg.headers = httpMsg.headers || {};\nhttpMsg.headers['Content-Type'] = 'application/json';\nreturn httpMsg;","outputs":1,"noerr":0,"x":820,"y":80,"wires":[["http_response_filter"]]},
  {"id":"http_response_filter","type":"http response","z":"flow_filter_wired","name":"","statusCode":"200","headers":{},"x":1080,"y":80,"wires":[]}
]
