config/examples/node-red_runtime/node-red_AI_data-smart-filter/smart_filter_node_red_step.json
[
  {"id":"flow_filter_step","type":"tab","label":"Data smart filter (step API for training)","disabled":false},
  {"id":"http_in_step","type":"http in","z":"flow_filter_step","name":"POST /step","url":"/step","method":"post","upload":false,"x":140,"y":80,"wires":[["step_driver"]]},
  {"id":"step_driver","type":"function","z":"flow_filter_step","name":"RLOracle","unitType":"RLOracle","func":"// RLOracle (step API) for RL training: reset -> obs; step(action) -> obs, reward, done.\n// Observation: 4 dims [price_norm, duration_norm, stops_norm, index_norm]. Action: 1 dim (include if > 0.5).\n// Episode: 100 synthetic offers; agent chooses include/discard per offer; reward at end = -mean(price) + bonus for ~20 selected.\nconst NUM_OFFERS = 100;\nconst TARGET_SELECT = 20;\nconst PRICE_SCALE = 500;\nconst DURATION_SCALE = 10;\nconst STOPS_SCALE = 3;\n\nfunction makeOffers(n) {\n  const out = [];\n  for (let i = 0; i < n; i++) {\n    out.push({\n      price: 80 + Math.random() * 400,\n      duration: 0.5 + Math.random() * 8,\n      stops: Math.floor(Math.random() * 4)\n    });\n  }\n  return out;\n}\n\nfunction features(o, idx) {\n  return [\n    o.price / PRICE_SCALE,\n    o.duration / DURATION_SCALE,\n    o.stops / STOPS_SCALE,\n    idx / NUM_OFFERS\n  ];\n}\n\nconst payload = msg.payload || {};\nlet offers = flow.get('filter_offers');\nlet index = flow.get('filter_index');\nlet selected = flow.get('filter_selected');\n\nif (payload.reset) {\n  offers = makeOffers(NUM_OFFERS);\n  flow.set('filter_offers', offers);\n  flow.set('filter_index', 0);\n  flow.set('filter_selected', []);\n  const obs = features(offers[0], 0);\n  msg.payload = { observation: obs, observation_names: [\"price_norm\",\"duration_norm\",\"stops_norm\",\"index_norm\"], action_names: [\"include\"], reward: 0, done: false };\n  msg.headers = { 'Content-Type': 'application/json' };\n  return msg;\n}\n\nconst action = Array.isArray(payload.action) ? payload.action[0] : 0;\nif (index == null) index = 0;\nif (selected == null) selected = [];\nif (!Array.isArray(offers) || offers.length === 0) {\n  offers = makeOffers(NUM_OFFERS);\n  flow.set('filter_offers', offers);\n}\n\nif (action > 0.5) selected.push(index);\nindex += 1;\nflow.set('filter_index', index);\nflow.set('filter_selected', selected);\n\nif (index >= offers.length) {\n  let reward = 0;\n  if (selected.length > 0) {\n    const meanPrice = selected.reduce((s, i) => s + offers[i].price, 0) / selected.length;\n    reward = -meanPrice / PRICE_SCALE;\n    if (selected.length >= TARGET_SELECT - 2 && selected.length <= TARGET_SELECT + 2) reward += 2;\n  }\n  msg.payload = { observation: [0, 0, 0, 0], reward, done: true };\n} else {\n  const obs = features(offers[index], index);\n  msg.payload = { observation: obs, reward: 0, done: false };\n}\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["http_response_step"]]},
  {"id":"http_response_step","type":"http response","z":"flow_filter_step","name":"","statusCode":"200","headers":{},"x":700,"y":80,"wires":[]}
]
