config/examples/node-red_runtime/node-red_AI_data-smart-filter/smart_filter_node_red_parallel.json
[
  {"id":"flow_filter_wired_parallel","type":"tab","label":"Data smart filter (RL Agent wired)","disabled":false},
  {"id":"http_in_filter","type":"http in","z":"flow_filter_wired_parallel","name":"POST /filter","url":"/filter","method":"post","upload":false,"x":140,"y":80,"wires":[["parse_response"]]},
  {"id":"parse_response","type":"function","z":"flow_filter_wired_parallel","name":"Parse response.json","func":"// Expect body: { meta: {...}, data: [ ... offers ... ] }\nconst body = msg.payload || {};\nconst data = Array.isArray(body.data) ? body.data : [];\nconst meta = body.meta || {};\nflow.set('filter_meta', meta);\nflow.set('filter_data', data);\nflow.set('filter_http_msg', msg);\nmsg.payload = { meta, data, count: data.length };\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["rl_agent_filter","oracle_ingest"]]},
  {"id":"oracle_ingest","type":"function","z":"flow_filter_wired_parallel","name":"Oracle ingest (prime episode)","unitType":"RLOracle","func":"// Oracle ingest: prime the next RLOracle training episode with the SAME offers that came via /filter.\n// This does NOT step or compute reward; it only stores the episode dataset in flow context.\nconst payload = msg.payload || {};\nconst data = Array.isArray(payload.data) ? payload.data : [];\nflow.set('oracle_offers_input', data);\nflow.set('oracle_index', 0);\nflow.set('oracle_selected', []);\nflow.set('oracle_episode_id', (flow.get('oracle_episode_id') || 0) + 1);\nflow.set('oracle_ingested_at', Date.now());\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[]},
  {"id":"rl_agent_filter","type":"function","z":"flow_filter_wired_parallel","name":"RLAgent","unitType":"RLAgent","func":"// Placeholder: replace with real RL policy after training (load model, obs = offer features, action = include 0/1).\n// Goal: from ~200_000 offers select the best 200.\n// Observation: offer features (e.g. price norm, duration, stops, airline); action: keep/discard or score.\nconst TOP_K = 200;\nconst input = msg.payload || {};\nconst data = input.data || [];\nconst meta = input.meta || {};\nlet selected = data;\nif (data.length > TOP_K) {\n  // Scaffold: take first TOP_K; in production the trained agent would score/select best TOP_K.\n  selected = data.slice(0, TOP_K);\n}\nflow.set('filter_selected', selected);\nmsg.payload = { meta, data: selected, totalInput: data.length, totalOutput: selected.length };\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":80,"wires":[["oracle_eval"]]},
  {"id":"oracle_eval","type":"function","z":"flow_filter_wired_parallel","name":"Oracle eval (for comparison)","unitType":"RLOracle","func":"// Compare the deployed RLAgent selection to a simple oracle heuristic.\n// This does NOT implement /step; it just adds diagnostics to the /filter response.\n// Heuristic: lower mean price is better; bonus if output count near TOP_K.\nconst input = msg.payload || {};\nconst meta = input.meta || {};\nconst selected = Array.isArray(input.data) ? input.data : [];\nconst TOP_K = 200;\n\nfunction getPrice(x) {\n  if (!x) return null;\n  const p = x.price ?? x.totalPrice ?? x.total_price ?? x.fare;\n  if (typeof p === 'number') return p;\n  const n = Number(p);\n  return Number.isFinite(n) ? n : null;\n}\n\nlet meanPrice = null;\nif (selected.length > 0) {\n  const ps = selected.map(getPrice).filter(p => typeof p === 'number');\n  if (ps.length > 0) meanPrice = ps.reduce((s, v) => s + v, 0) / ps.length;\n}\n\nlet oracleScore = 0;\nif (meanPrice != null) oracleScore += -meanPrice;\nif (selected.length >= TOP_K - 10 && selected.length <= TOP_K + 10) oracleScore += 1000;\n\nmeta.oracle_eval = {\n  score: oracleScore,\n  mean_price: meanPrice,\n  selected_count: selected.length,\n  target_count: TOP_K,\n};\n\nmsg.payload = { ...input, meta };\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["build_filtered_response"]]},
  {"id":"build_filtered_response","type":"function","z":"flow_filter_wired_parallel","name":"Build response_filtered.json","func":"const input = msg.payload || {};\nconst meta = { ...(input.meta || {}), count: (input.data || []).length };\nconst data = input.data || [];\nconst httpMsg = flow.get('filter_http_msg') || msg;\nhttpMsg.payload = { meta, data };\nhttpMsg.headers = httpMsg.headers || {};\nhttpMsg.headers['Content-Type'] = 'application/json';\nreturn httpMsg;","outputs":1,"noerr":0,"x":820,"y":80,"wires":[["http_response_filter"]]},
  {"id":"http_response_filter","type":"http response","z":"flow_filter_wired_parallel","name":"","statusCode":"200","headers":{},"x":1080,"y":80,"wires":[]},
  {"id":"http_in_step","type":"http in","z":"flow_filter_wired_parallel","name":"POST /step","url":"/step","method":"post","upload":false,"x":140,"y":160,"wires":[["rl_oracle_step"]]},
  {"id":"rl_oracle_step","type":"function","z":"flow_filter_wired_parallel","name":"RLOracle","unitType":"RLOracle","func":"// RLOracle (step API) for RL training: reset -> obs; step(action) -> obs, reward, done.\n// Observation: 4 dims [price_norm, duration_norm, stops_norm, index_norm]. Action: 1 dim (include if > 0.5).\n// IMPORTANT: /filter primes the next episode dataset by storing offers in flow.oracle_offers_input.\nconst NUM_OFFERS = 100;\nconst TARGET_SELECT = 20;\nconst PRICE_SCALE = 500;\nconst DURATION_SCALE = 10;\nconst STOPS_SCALE = 3;\n\nfunction makeOffers(n) {\n  const out = [];\n  for (let i = 0; i < n; i++) {\n    out.push({\n      price: 80 + Math.random() * 400,\n      duration: 0.5 + Math.random() * 8,\n      stops: Math.floor(Math.random() * 4)\n    });\n  }\n  return out;\n}\n\nfunction toOffer(x) {\n  if (!x || typeof x !== 'object') return null;\n  const price = (typeof x.price === 'number') ? x.price : Number(x.price ?? x.totalPrice ?? x.total_price ?? x.fare);\n  const duration = (typeof x.duration === 'number') ? x.duration : Number(x.duration);\n  const stops = (typeof x.stops === 'number') ? x.stops : Number(x.stops);\n  if (!Number.isFinite(price) || !Number.isFinite(duration) || !Number.isFinite(stops)) return null;\n  return { price, duration, stops };\n}\n\nfunction features(o, idx, n) {\n  return [\n    o.price / PRICE_SCALE,\n    o.duration / DURATION_SCALE,\n    o.stops / STOPS_SCALE,\n    idx / (n || NUM_OFFERS)\n  ];\n}\n\nconst payload = msg.payload || {};\nlet offers = flow.get('oracle_offers');\nlet index = flow.get('oracle_index');\nlet selected = flow.get('oracle_selected');\n\nif (payload.reset) {\n  // Prefer the most recently ingested real offers from /filter\n  const ingested = flow.get('oracle_offers_input');\n  const realOffers = Array.isArray(ingested) ? ingested.map(toOffer).filter(x => x) : [];\n  offers = realOffers.length > 0 ? realOffers : makeOffers(NUM_OFFERS);\n  flow.set('oracle_offers', offers);\n  flow.set('oracle_index', 0);\n  flow.set('oracle_selected', []);\n  const obs = features(offers[0], 0, offers.length);\n  msg.payload = { observation: obs, observation_names: [\"price_norm\",\"duration_norm\",\"stops_norm\",\"index_norm\"], action_names: [\"include\"], reward: 0, done: false };\n  msg.headers = { 'Content-Type': 'application/json' };\n  return msg;\n}\n\nconst action = Array.isArray(payload.action) ? payload.action[0] : 0;\nif (index == null) index = 0;\nif (selected == null) selected = [];\nif (!Array.isArray(offers) || offers.length === 0) {\n  offers = makeOffers(NUM_OFFERS);\n  flow.set('oracle_offers', offers);\n}\n\nif (action > 0.5) selected.push(index);\nindex += 1;\nflow.set('oracle_index', index);\nflow.set('oracle_selected', selected);\n\nif (index >= offers.length) {\n  let reward = 0;\n  if (selected.length > 0) {\n    const meanPrice = selected.reduce((s, i) => s + offers[i].price, 0) / selected.length;\n    reward = -meanPrice / PRICE_SCALE;\n    if (selected.length >= TARGET_SELECT - 2 && selected.length <= TARGET_SELECT + 2) reward += 2;\n  }\n  msg.payload = { observation: [0, 0, 0, 0], reward, done: true };\n} else {\n  const obs = features(offers[index], index, offers.length);\n  msg.payload = { observation: obs, reward: 0, done: false };\n}\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["http_response_step"]]},
  {"id":"http_response_step","type":"http response","z":"flow_filter_wired_parallel","name":"","statusCode":"200","headers":{},"x":700,"y":160,"wires":[]}
]
